* {
    padding: 0; /* espaço definido dentro do objto/centralizada entre a margin e o conteudo*/
    margin: 0; /*margin borda em cotorno  da caixa */
    box-sizing: border-box; /* usada para alterar o padrao  box model , calcula alt e largura*/
    text-decoration: none;/**/
    font-family: sans-serif; /*fonte do texo principal*/
    font-size: 14px; /*tamanho do texto font formato pixel*/
    

}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(white,white,rgb(8, 8, 8));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /*alinha elementos no eixo principal, cuja propriedade foi definida no flex direction*/
}

.cpf-tela {

    display: flex;/*display: exibição como se comporta no site, flex como o item fica disponivel dentro do espaço*/
    align-items: center; /*estabelece alinhamento de um certo item dentro de um bloco que o contem*/
    justify-content: start;
    width: 50%;
    height: 100vh;

}

.cpf {
    
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;

}

.cpf img {

    height: 40rem;/*rem siginifica tamanho alterado na fonte do elemento raiz*/

}

.dados-cadastrais {

    display: flex; /**/
    align-items: center;
    justify-content: space-around; /*space coloca as imagens alinhadas ao lado*/
    flex-direction: column; /*colluun coluna muda a posição de vertical para horinzontal*/
    width: 50%;
    min-height: 50rem;

}

.bandeira {

    display: flex;
    justify-content: space-between;/*itens distribuidos igualmente em todo espaço disponivel*/
    align-items: center;
    flex-direction: column; /*defini a flexbi dos itens dentro do container. mudando o eixo (principal e a direção)*/
    background-color: #ffc;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;

}

.bandeira:nth-child(1) {
    min-height: 19rem;

}

.logo {

    height: 15rem;
    background-color: blue;
    

}
.box {
    display: inline-flex; /*display inline junta as duas box na mesma linha */
}

.entrar {

    background-color: #ffc;
    color: black;
    padding: 8px;
    border-radius: 4px; /*curvas suaves nas laterais da box, mesmo o elemento nao tendo bordas,"bom reforça"*/
}
.seg {
    
    background-color: #ffc;
    color: black;
    padding: 8px;
    border-radius: 4px;

}

.result {

    padding: 8px;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    background-color: blue;

}

/*media usada para aplica estilo em uma parte ou mais de um item especifico*/
@media (max-width: 1024px) {
    .cpf-tela {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .cpf-tela {
        width: 90%;
     }

     .cpf {
         display: none;
     }
     
     .dados-cadastrais {
         width: 100%;
     }

     .bandeira {
         border: 1\px solid transparent;
     }
    }